* {
  -webkit-font-smoothing: antialiased !important; }

/* vendor prefixes */
.mad-article {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-style: normal;
  /*
  Levels
  */
   /*
	 Type colors , background colors for boxes
 */
   /*
	 TableStyle Colors (for Alternate rows)
 */
   /*
	 Other
 */
   /*
	 Levels
   */
   /*
	  Borders
   */
   /*
	 Spacing
   */
   /*
	 PARAGRAPH STYLES
   */
   /*
	 CHARACTER STYLES
 */
   /*
	 LIST STYLES
 */
   /*
	 TABLE STYLES
 */
   /*
	 DROPDOWN STYLES
 */
   /*
	 CODE STYLES
 */
  /*
  **Start Temporary Styles
  */
  /*
  **End Temporary Styles
  */ }
  .mad-article strong {
    color: #333333 !important; }
  .mad-article h1 {
    font-size: 43px;
    line-height: 59px;
    margin: 70px 0 22px 0;
    font-weight: 700;
    color: #009fe3; }
  .mad-article h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 70px 0 29px 0;
    color: #333333; }
  .mad-article h3 {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    line-height: 28px;
    margin: 60px 0 8px 0; }
  .mad-article h4 {
    font-size: 20px;
    color: #333333;
    font-weight: 400;
    line-height: 28px; }
  .mad-article a {
    color: #009fe3; }
  .mad-article img {
    border: 2px solid #eaeaea;
    margin: 20px 0 20px 0; }
  .mad-article p {
    font-size: 17px;
    color: #666666;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 20px; }
    .mad-article p > bold {
      color: #333333; }
    .mad-article p.BulletLevel1Continuation {
      margin-left: 50px; }
    .mad-article p.BulletLevel1ContinuationNoSpaceAfter {
      margin-left: 50px;
      margin-bottom: 0; }
    .mad-article p.BulletLevel1ContinuationNoSpaceBeforeAndAfter {
      margin-left: 50px;
      margin-top: 0;
      margin-bottom: 0; }
    .mad-article p.BulletLevel1ContinuationNoSpaceBefore {
      margin-left: 50px;
      margin-top: 0; }
    .mad-article p.BulletLevel1ContinuationNote {
      margin-left: 50px; }
    .mad-article p.BulletLevel1ContinuationWarning {
      margin-left: 50px; }
    .mad-article p.BulletLevel2Continuation {
      margin-left: 100px; }
    .mad-article p.BulletLevel2ContinuationNoSpaceAfter {
      margin-left: 100px;
      margin-bottom: 0; }
    .mad-article p.BulletLevel2ContinuationNoSpaceBeforeOrAfter {
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 0; }
    .mad-article p.BulletLevel2ContinuationNoSpaceBefore {
      margin-left: 100px;
      margin-top: 0; }
    .mad-article p.BulletLevel2ContinuationNote {
      margin-left: 100px; }
    .mad-article p.BulletLevel2ContinuationWarning {
      margin-left: 100px; }
    .mad-article p.BulletLevel3Continuation {
      margin-left: 150px; }
    .mad-article p.BulletLevel3ContinuationNoSpaceAfter {
      margin-left: 150px;
      margin-bottom: 0; }
    .mad-article p.BulletLevel3ContinuationNoSpaceBeforeOrAfter {
      margin-left: 150px;
      margin-top: 0;
      margin-bottom: 0; }
    .mad-article p.BulletLevel3ContinuationNoSpaceBefore {
      margin-left: 150px;
      margin-top: 0; }
    .mad-article p.caution {
      background-color: #fef2f3;
      padding: 23px;
      margin: 10px 0 10px 0;
      border: 2px solid #ffc1c1;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.caution td {
        border-bottom: none !important; }
    .mad-article p.example {
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.example td {
        border-bottom: none !important; }
    .mad-article p.exampleLevel1 {
      margin-left: 50px;
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.exampleLevel1 td {
        border-bottom: none !important; }
    .mad-article p.exampleLevel2 {
      margin-left: 100px;
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.exampleLevel2 td {
        border-bottom: none !important; }
    .mad-article p.ImageCaption {
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.ImageCaptionExample {
      font-style: italic;
      font-size: 16px;
      margin-left: 30px;
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.ImageCaptionExample td {
        border-bottom: none !important; }
    .mad-article p.ImageCaptionExampleLevel1 {
      margin-left: 50px;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px;
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.ImageCaptionExampleLevel1 td {
        border-bottom: none !important; }
    .mad-article p.ImageCaptionExampleLevel2 {
      margin-left: 100px;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px;
      background-color: #f2f9f2;
      padding: 23px;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.ImageCaptionExampleLevel2 td {
        border-bottom: none !important; }
    .mad-article p.ImageCaptionLevel1 {
      margin-left: 50px;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.ImageCaptionLevel1Green {
      margin-left: 50px;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.ImageCaptionNoSpaceAfter {
      margin-bottom: 0;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.ImageCaptionNoSpaceBeforeOrAfter {
      margin-top: 0;
      margin-bottom: 0;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.ImageCaptionNoSpaceBefore {
      margin-top: 0;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.info {
      background-color: #f8f8f8;
      padding: 23px;
      border: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.info td {
        border-bottom: none !important; }
    .mad-article p.infoLevel1 {
      margin-left: 50px;
      background-color: #f8f8f8;
      padding: 23px;
      border: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.infoLevel1 td {
        border-bottom: none !important; }
    .mad-article p.infoLevel2 {
      margin-left: 100px;
      background-color: #f8f8f8;
      padding: 23px;
      border: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.infoLevel2 td {
        border-bottom: none !important; }
    .mad-article p.NoSpaceAfter {
      margin-bottom: 0; }
    .mad-article p.NoSpaceBeforeOrAfter {
      margin-top: 0;
      margin-bottom: 0; }
    .mad-article p.NoSpaceBefore {
      margin-top: 0; }
    .mad-article p.note {
      background-color: #fcfcee;
      padding: 23px;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.note td {
        border-bottom: none !important; }
    .mad-article p.noteLevel1 {
      margin-left: 50px;
      background-color: #fcfcee;
      padding: 23px;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.noteLevel1 td {
        border-bottom: none !important; }
    .mad-article p.noteLevel2 {
      margin-left: 100px;
      background-color: #fcfcee;
      padding: 23px;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.noteLevel2 td {
        border-bottom: none !important; }
    .mad-article p.noteStepLevel1 {
      margin-left: 25px;
      background-color: #fcfcee;
      padding: 23px;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.noteStepLevel1 td {
        border-bottom: none !important; }
    .mad-article p.StepLevel1Continuation {
      margin-left: 25px;
      background-color: #fcfcee;
      padding: 23px;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.StepLevel1Continuation td {
        border-bottom: none !important; }
    .mad-article p.tableExample {
      background-color: #f2f9f2; }
    .mad-article p.tableExampleLevel1 {
      margin-left: 50px;
      background-color: #f2f9f2; }
    .mad-article p.tableExampleLevel2 {
      margin-left: 100px;
      background-color: #f2f9f2; }
    .mad-article p.tableExampleNoSpaceBeforeOrAfter {
      margin-top: 0;
      margin-bottom: 0;
      background-color: #f2f9f2; }
    .mad-article p.tableInfo {
      background-color: #f8f8f8; }
    .mad-article p.tableInfoNoSpaceAfter {
      margin-bottom: 0;
      background-color: #f8f8f8; }
    .mad-article p.tableInfoNoSpaceBeforeOrAfter {
      margin-top: 0;
      margin-bottom: 0;
      background-color: #f8f8f8; }
    .mad-article p.tableInfoNoSpaceBefore {
      margin-top: 0;
      background-color: #f8f8f8; }
    .mad-article p.tableNote {
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel1 {
      margin-left: 50px;
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel1NoSpaceAfter {
      margin-left: 50px;
      margin-bottom: 0;
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel1NoSpaceBeforeOrAfter {
      margin-left: 50px;
      margin-top: 0;
      margin-bottom: 0;
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel1NoSpaceBefore {
      margin-left: 50px;
      margin-top: 0;
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel2 {
      margin-left: 100px;
      background-color: #fcfcee; }
    .mad-article p.tableNoteLevel3 {
      margin-left: 150px;
      background-color: #fcfcee; }
    .mad-article p.BulletLevel1ContinuationNote {
      margin-left: 50px; }
    .mad-article p.BulletLevel2ContinuationNote {
      margin-left: 100px; }
    .mad-article p.ImageCaptionLevel1Green {
      margin-left: 50px;
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.tableTip {
      background-color: #f2f9fa; }
    .mad-article p.tableTipLevel1 {
      margin-left: 50px;
      background-color: #f2f9fa; }
    .mad-article p.ImageCaptiontip {
      font-style: italic;
      font-size: 16px;
      margin-left: 30px; }
    .mad-article p.tableWarning {
      background-color: #fef2f3; }
    .mad-article p.tableWarningLevel1 {
      margin-left: 50px;
      background-color: #fef2f3; }
    .mad-article p.tableWarningLevel2 {
      margin-left: 100px;
      background-color: #fef2f3; }
    .mad-article p.tip {
      background-color: #f2f9fa;
      padding: 23px;
      border: 2px solid #aad4e6;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.tip td {
        border-bottom: none !important; }
    .mad-article p.tipLevel1 {
      margin-left: 50px;
      background-color: #f2f9fa;
      padding: 23px;
      border: 2px solid #aad4e6;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.tipLevel1 td {
        border-bottom: none !important; }
    .mad-article p.tipStepLevel1 {
      margin-left: 25px;
      background-color: #f2f9fa;
      padding: 23px;
      border: 2px solid #aad4e6;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.tipStepLevel1 td {
        border-bottom: none !important; }
    .mad-article p.warning {
      background-color: #fef2f3;
      padding: 23px;
      margin: 10px 0 10px 0;
      border: 2px solid #ffc1c1;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article p.warning td {
        border-bottom: none !important; }
  .mad-article hr {
    display: none; }
  .mad-article span.Blue {
    color: #009ee2; }
  .mad-article span.orange {
    color: #ff9e3e; }
  .mad-article span.HighlightYellow {
    color: #333333;
    background-color: #fffcd5; }
  .mad-article span.Red {
    color: #ea564b; }
  .mad-article kbd {
    font-family: 'Lato';
    padding: 2px 20px;
    font-size: 90%;
    color: #333333;
    background-color: #eaeaea;
    border-radius: 3px;
    box-shadow: none; }
  .mad-article .b {
    font-weight: bold; }
    .mad-article .b.Step {
      font-weight: bold;
      font-style: normal; }
  .mad-article ul, .mad-article ol {
    padding: 0;
    margin: 0 0 20px;
    line-height: 28px; }
  .mad-article ol > li {
    list-style-position: outside;
    padding-left: 24px;
    margin-left: 40px; }
  .mad-article ul > li {
    list-style-position: outside;
    padding-left: 24px;
    margin-left: 40px; }
  .mad-article li.BulletLevel1 {
    margin-left: 50px; }
  .mad-article li.BulletLevel2 {
    margin-left: 100px; }
  .mad-article li.BulletLevel3 {
    margin-left: 150px; }
  .mad-article li.BulletLevel2SpaceAfter10px {
    margin-left: 100px;
    margin-bottom: 10px; }
  .mad-article li.BulletLevel1Example {
    margin-left: 50px; }
  .mad-article li.BulletLevel2Example {
    margin-left: 100px; }
  .mad-article li.BulletLevel1Note {
    margin-left: 50px; }
  .mad-article li.BulletLevel1NoteSpaceAfter {
    margin-left: 50px;
    margin-bottom: 17px; }
  .mad-article li.BulletLevel2Note {
    margin-left: 100px; }
  .mad-article li.BulletLevel3Note {
    margin-left: 150px; }
  .mad-article li.BulletLevel1Tip {
    margin-left: 50px; }
  .mad-article li.BulletLevel1Warning {
    margin-left: 50px; }
  .mad-article li.BulletLevel2Warning {
    margin-left: 100px; }
  .mad-article li.SpaceAfter10px {
    margin-bottom: 10px; }
  .mad-article li.BulletLevel1Info {
    margin-left: 50px; }
  .mad-article li.BulletLevel2Info {
    margin-left: 100px; }
  .mad-article li.BulletLevel3Info {
    margin-left: 150px; }
  .mad-article li.NumberedLevel1 {
    margin-left: 50px; }
  .mad-article li.NumberedLevel2 {
    margin-left: 100px; }
  .mad-article li.NumberedLevel3 {
    margin-left: 150px; }
  .mad-article table {
    width: 100%;
    max-width: 800px;
    table-layout: fixed;
    margin: 20px 0 40px 0; }
    .mad-article table table.TableStyle-AlternateRowsLevel1, .mad-article table table.TableStyle-Level1, .mad-article table table.TableStyle-ExampleLevel1, .mad-article table table.TableStyle-InfoLevel1, .mad-article table table.TableStyle-NoteLevel1, .mad-article table table.TableStyle-TipLevel1, .mad-article table table.TableStyle-WarningLevel1 {
      width: 708px; }
    .mad-article table table.TableStyle-AlternateRowsLevel2, .mad-article table table.TableStyle-Level2, .mad-article table table.TableStyle-ExampleLevel2, .mad-article table table.TableStyle-InfoLevel2, .mad-article table table.TableStyle-NoteLevel2, .mad-article table table.TableStyle-TipLevel2, .mad-article table table.TableStyle-WarningLevel2 {
      width: 658px; }
    .mad-article table thead th {
      font-weight: bold;
      text-align: left;
      padding: 10px 20px;
      border-bottom: 2px solid #eaeaea;
      background-color: #f8f8f8; }
    .mad-article table tbody > tr > td {
      padding: 20px;
      vertical-align: top; }
    .mad-article table.TableStyle-Level1 {
      border: 2px solid #eaeaea;
      border-bottom: none;
      margin-left: 50px;
      max-width: 750px; }
      .mad-article table.TableStyle-Level1 td {
        border-bottom: 2px solid #eaeaea; }
    .mad-article table.TableStyle-Level2 {
      border: 2px solid #eaeaea;
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-Example, .mad-article table.TableStyle-ExampleNoSpaceBeforeAfter, .mad-article table.TableStyle-ExampleLevel1, .mad-article table.TableStyle-ExampleLevel2 {
      background-color: #f2f9f2;
      border: 2px solid #c1ecbd;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article table.TableStyle-Example td, .mad-article table.TableStyle-ExampleNoSpaceBeforeAfter td, .mad-article table.TableStyle-ExampleLevel1 td, .mad-article table.TableStyle-ExampleLevel2 td {
        border-color: #c1ecbd; }
      .mad-article table.TableStyle-Example td, .mad-article table.TableStyle-ExampleNoSpaceBeforeAfter td, .mad-article table.TableStyle-ExampleLevel1 td, .mad-article table.TableStyle-ExampleLevel2 td {
        border-bottom: none !important; }
    .mad-article table.TableStyle-ExampleNoSpaceBeforeAfter {
      margin-top: 0;
      margin-bottom: 0; }
    .mad-article table.TableStyle-ExampleLevel1 {
      margin-left: 50px;
      max-width: 750px; }
    .mad-article table.TableStyle-ExampleLevel2 {
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-info, .mad-article table.TableStyle-InfoLevel1, .mad-article table.TableStyle-InfoLevel2 {
      background-color: #f8f8f8;
      border: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article table.TableStyle-info td, .mad-article table.TableStyle-InfoLevel1 td, .mad-article table.TableStyle-InfoLevel2 td {
        border-color: #eaeaea; }
      .mad-article table.TableStyle-info td, .mad-article table.TableStyle-InfoLevel1 td, .mad-article table.TableStyle-InfoLevel2 td {
        border-bottom: none !important; }
    .mad-article table.TableStyle-InfoLevel1 {
      margin-left: 50px;
      max-width: 750px; }
    .mad-article table.TableStyle-InfoLevel2 {
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-Warning, .mad-article table.TableStyle-WarningLevel1, .mad-article table.TableStyle-WarningLevel2 {
      background-color: #fef2f3;
      border: 2px solid #ffc1c1;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article table.TableStyle-Warning td, .mad-article table.TableStyle-WarningLevel1 td, .mad-article table.TableStyle-WarningLevel2 td {
        border-color: #ffc1c1; }
      .mad-article table.TableStyle-Warning td, .mad-article table.TableStyle-WarningLevel1 td, .mad-article table.TableStyle-WarningLevel2 td {
        border-bottom: none !important; }
    .mad-article table.TableStyle-WarningLevel1 {
      margin-left: 50px;
      max-width: 750px; }
    .mad-article table.TableStyle-WarningLevel2 {
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-Tip, .mad-article table.TableStyle-TipLevel1, .mad-article table.TableStyle-TipLevel2 {
      background-color: #f2f9fa;
      border: 2px solid #aad4e6;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article table.TableStyle-Tip td, .mad-article table.TableStyle-TipLevel1 td, .mad-article table.TableStyle-TipLevel2 td {
        border-color: #aad4e6; }
      .mad-article table.TableStyle-Tip td, .mad-article table.TableStyle-TipLevel1 td, .mad-article table.TableStyle-TipLevel2 td {
        border-bottom: none !important; }
    .mad-article table.TableStyle-TipLevel1 {
      margin-left: 50px;
      max-width: 750px; }
    .mad-article table.TableStyle-TipLevel2 {
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-Note, .mad-article table.TableStyle-NoteLevel1, .mad-article table.TableStyle-NoteLevel2 {
      background-color: #fcfcee;
      border: 2px solid #f8f08d;
      border-top: none;
      border-right: none;
      border-bottom: none; }
      .mad-article table.TableStyle-Note td, .mad-article table.TableStyle-NoteLevel1 td, .mad-article table.TableStyle-NoteLevel2 td {
        border-color: #f8f08d; }
      .mad-article table.TableStyle-Note td, .mad-article table.TableStyle-NoteLevel1 td, .mad-article table.TableStyle-NoteLevel2 td {
        border-bottom: none !important; }
    .mad-article table.TableStyle-NoteLevel1 {
      margin-left: 50px;
      max-width: 750px; }
    .mad-article table.TableStyle-NoteLevel2 {
      margin-left: 100px;
      max-width: 700px; }
    .mad-article table.TableStyle-AlternateRows, .mad-article table.TableStyle-AlternateRowsLevel1, .mad-article table.TableStyle-AlternateRowsLevel2 {
      border: 2px solid #eaeaea;
      border-bottom: none; }
      .mad-article table.TableStyle-AlternateRows td, .mad-article table.TableStyle-AlternateRowsLevel1 td, .mad-article table.TableStyle-AlternateRowsLevel2 td {
        border-bottom: 2px solid #eaeaea; }
      .mad-article table.TableStyle-AlternateRows .Body-White, .mad-article table.TableStyle-AlternateRowsLevel1 .Body-White, .mad-article table.TableStyle-AlternateRowsLevel2 .Body-White {
        background-color: #ffffff; }
      .mad-article table.TableStyle-AlternateRows .Body-Gray, .mad-article table.TableStyle-AlternateRowsLevel1 .Body-Gray, .mad-article table.TableStyle-AlternateRowsLevel2 .Body-Gray {
        background-color: #f8f8f8; }
      .mad-article table.TableStyle-AlternateRows > tbody > tr > td, .mad-article table.TableStyle-AlternateRowsLevel1 > tbody > tr > td, .mad-article table.TableStyle-AlternateRowsLevel2 > tbody > tr > td {
        border-bottom: 2px solid #eaeaea !important; }
    .mad-article table.TableStyle-AlternateRowsLevel1 {
      margin-left: 50px;
      max-width: 750px; }
      .mad-article table.TableStyle-AlternateRowsLevel1 > tbody > tr > td {
        border-bottom: 2px solid #eaeaea !important; }
    .mad-article table.TableStyle-AlternateRowsLevel2 {
      margin-left: 100px;
      max-width: 700px; }
      .mad-article table.TableStyle-AlternateRowsLevel2 > tbody > tr > td {
        border-bottom: 2px solid #eaeaea !important; }
  .mad-article .MCDropDown_Open .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Closed .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Open .dropDownHeadLevel1 .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Open .dropDownHeadLevel1Note .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Open .dropDownHeadLevel2 .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Open .dropDownHeadLevel2Note .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Closed .dropDownHeadLevel1 .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Closed .dropDownHeadLevel2 .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Closed .dropDownHeadLevel1Note .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown_Closed .dropDownHeadLevel2Note .MCDropDownHotSpot_ {
    background: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
    padding-left: 47px; }
  .mad-article .MCDropDown {
    margin-bottom: 13px; }
    .mad-article .MCDropDown .MCDropDownHead {
      padding-left: 14px;
      cursor: pointer;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */ }
    .mad-article .MCDropDown .MCDropDownBody {
      margin-left: 61px; }
    .mad-article .MCDropDown .MCDropDown_Closed > .MCDropDownBody {
      display: none; }
    .mad-article .MCDropDown .MCDropDown_Open > .MCDropDownBody {
      display: block; }
    .mad-article .MCDropDown .dropDownHeadLevel1 {
      margin-left: 50px; }
      .mad-article .MCDropDown .dropDownHeadLevel1 + .MCDropDownBody {
        margin-left: 111px; }
    .mad-article .MCDropDown .dropDownHeadLevel2 {
      margin-left: 100px; }
      .mad-article .MCDropDown .dropDownHeadLevel2 + .MCDropDownBody {
        margin-left: 100px;
        margin-left: 161px; }
    .mad-article .MCDropDown .dropDownHeadLevel1Note {
      margin-left: 50px; }
      .mad-article .MCDropDown .dropDownHeadLevel1Note + .MCDropDownBody {
        margin-left: 111px; }
    .mad-article .MCDropDown .dropDownHeadLevel2Note {
      margin-left: 100px; }
      .mad-article .MCDropDown .dropDownHeadLevel2Note + .MCDropDownBody {
        margin-left: 100px;
        margin-left: 161px; }
  .mad-article samp {
    font-family: 'Inconsolata';
    font-size: 16px; }
  .mad-article pre.code-block {
    font-family: 'Inconsolata';
    font-size: 14px;
    background-color: #f8f8f8;
    border: 2px solid #eaeaea;
    padding: 30px;
    border-radius: 0px; }
    .mad-article pre.code-block > ol.linenums {
      line-height: 20px !important; }
      .mad-article pre.code-block > ol.linenums > li {
        color: #cecece !important;
        list-style-type: decimal-leading-zero !important; }
  .mad-article code.code-inline {
    font-family: 'Inconsolata' !important;
    font-size: 14px !important;
    background-color: #f8f8f8 !important;
    border-radius: 0 !important;
    padding: 0 !important; }
  .mad-article p {
    line-height: 26px; }
    .mad-article p span.HighlightYellowCode {
      color: #333333;
      background-color: #fffcd5;
      font-family: 'Inconsolata';
      line-height: 1.5; }
    .mad-article p.code {
      border: none;
      margin-top: 0px;
      margin-bottom: 0px; }
    .mad-article p.codeLevel1 {
      margin-left: 50px;
      border: none;
      margin-top: 0px;
      margin-bottom: 0px; }
    .mad-article p.NoSpaceAfter_Code {
      border: none;
      margin-top: 0px;
      margin-bottom: 0px; }
    .mad-article p.NoSpaceBeforeOrAfter_Code {
      border: none;
      margin-top: 0px;
      margin-bottom: 0px; }
    .mad-article p.NoSpaceBefore_Code {
      border: none;
      margin-top: 0px;
      margin-bottom: 0px; }
  .mad-article .greenBox {
    border: 1px solid #3C6;
    padding: 5px;
    margin: 2px;
    background-color: #EFE;
    padding-left: 42px;
    background-image: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/check.png");
    background-repeat: no-repeat;
    background-position: 5px; }
  .mad-article .tipBox {
    border: 1px solid #39C;
    padding: 5px;
    margin: 2px;
    background-color: #E3EFF6; }
  .mad-article .noteBox {
    border: 1px solid #C7C478;
    padding: 5px;
    margin: 2px;
    background-color: #FFFFE2; }
  .mad-article .warningBox {
    border: 1px solid #C77878;
    padding: 5px;
    margin: 2px;
    background-color: #F6E3E3; }

main {
  width: 1200px !important; }

.article-column {
  width: 800px !important;
  float: left !important; }
  .article-column article > h1 {
    font-size: 43px;
    line-height: 59px;
    margin: 70px 0 22px 0;
    font-weight: 700;
    color: #009fe3; }
  .article-column > section.article-comments form .comment-form .comment-container .comment-form-controls input[type=submit] {
    border-radius: 5px;
    border: none;
    box-shadow: none;
    margin-top: 17px;
    padding: 0px 20px;
    color: white;
    background-color: #009fe3;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold; }

.sidebar {
  float: right;
  width: 300px;
  margin-top: 75px; }
  .sidebar .affix-top {
    color: red !important; }
  .sidebar .affix {
    top: 30px;
    color: white !important; }
  .sidebar .affix-bottom {
    color: darkblue !important; }
  .sidebar form.search input:focus {
    outline: none; }
  .sidebar form.search input#query {
    height: 40px;
    width: 260px; }
    .sidebar form.search input#query::-webkit-input-placeholder, .sidebar form.search input#query:-moz-placeholder, .sidebar form.search input#query::-moz-placeholder, .sidebar form.search input#query:-ms-input-placeholder {
      color: #666666; }
  .sidebar form.search input[name="commit"] {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    color: #009fe3;
    background-color: #009fe3;
    background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/icon-search.png");
    background-position: center;
    background-repeat: no-repeat; }
  .sidebar hr {
    margin: 30px 0;
    border: 1px solid #f1f1f1; }
  .sidebar .mad-menu {
    max-width: 300px;
    font-family: 'Lato'; }
    .sidebar .mad-menu *:hover {
      text-decoration: none; }
    .sidebar .mad-menu li {
      margin: 15px 0; }
    .sidebar .mad-menu .h1 {
      color: #009fe3;
      font-weight: 700;
      font-size: 16px; }
    .sidebar .mad-menu .h2 {
      color: #999999;
      font-size: 16px; }
    .sidebar .mad-menu .h3 {
      color: #999999;
      font-size: 16px;
      margin-left: 10px; }
  .sidebar a:hover {
    text-decoration: none; }
  .sidebar a.top > p {
    color: #bbbbbb;
    font-size: 14px;
    margin-bottom: 0; }
  .sidebar a.article-subscribe, .sidebar a.article-unsubscribe {
    background-color: white;
    color: #bbbbbb;
    font-size: 14px;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    float: left; }

.header {
  height: 65px;
  background-color: #3a3f4e; }
  .header .header-inner {
    background-color: #3a3f4e;
    height: 65px;
    width: 1200px; }
    .header .header-inner a:hover {
      text-decoration: none; }
    .header .header-inner a .title {
      float: left;
      line-height: 60px; }
      .header .header-inner a .title span {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 23px; }
        .header .header-inner a .title span:first-child {
          color: #009fe3; }
        .header .header-inner a .title span:last-child {
          color: white; }
    .header .header-inner nav.user-nav {
      margin: 0; }
      .header .header-inner nav.user-nav a.login {
        border-radius: 5px;
        border: none;
        box-shadow: none;
        margin-top: 17px;
        padding: 0px 20px;
        color: white;
        background-color: #343946;
        font-family: 'Lato';
        font-size: 15px;
        font-weight: bold; }
        .header .header-inner nav.user-nav a.login:hover {
          background-color: #009fe3; }
      .header .header-inner nav.user-nav #user.user-info:hover {
        background-color: #009fe3; }
        .header .header-inner nav.user-nav #user.user-info:hover #user-dropdown {
          display: block !important; }
      .header .header-inner nav.user-nav #user.user-info .dropdown-toggle[role="button"] {
        height: 65px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        padding: 12px 20px;
        background: none;
        margin-left: 0; }
        .header .header-inner nav.user-nav #user.user-info .dropdown-toggle[role="button"]:after {
          color: white; }
        .header .header-inner nav.user-nav #user.user-info .dropdown-toggle[role="button"] #user-avatar {
          border-radius: 100%;
          border: 3px solid white;
          height: 40px;
          max-height: 40px;
          width: 40px; }
        .header .header-inner nav.user-nav #user.user-info .dropdown-toggle[role="button"] #user-name {
          color: white;
          font-family: 'Lato';
          font-size: 15px;
          font-weight: bold;
          padding-left: 5px; }
      .header .header-inner nav.user-nav #user.user-info #user-dropdown {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: #009fe3;
        -webkit-box-shadow: inset 0px 30px 33px -28px #00638d;
        -moz-box-shadow: inset 0px 30px 33px -28px #00638d;
        box-shadow: inset 0px 30px 33px -28px #00638d;
        display: none; }
        .header .header-inner nav.user-nav #user.user-info #user-dropdown.dropdown-menu-caret:before, .header .header-inner nav.user-nav #user.user-info #user-dropdown.dropdown-menu-caret:after {
          display: none; }
        .header .header-inner nav.user-nav #user.user-info #user-dropdown #user-menu a[role=menuitem] {
          font-family: 'Lato';
          font-size: 15px;
          color: #00638d; }
          .header .header-inner nav.user-nav #user.user-info #user-dropdown #user-menu a[role=menuitem]:hover {
            color: white;
            background: none; }
        .header .header-inner nav.user-nav #user.user-info #user-dropdown #user-menu span[role=separator] {
          display: none; }

.sub-header {
  background-color: #f8f8f8; }
  .sub-header .wrapper {
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 0 20px;
    width: 1200px;
    height: 140px; }
    .sub-header .wrapper #category-logo {
      width: 300px;
      height: 60px;
      float: left;
      margin: 40px auto; }
    .sub-header .wrapper #category-logo {
      background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-woodwing.png"); }
    body.elvis-saas .sub-header .wrapper #category-logo, body.elvis-dam .sub-header .wrapper #category-logo {
      background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-elvis.png"); }
    body.important-product-announcements .sub-header .wrapper #category-logo {
      background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-announcements.png"); }
    body.enterprise .sub-header .wrapper #category-logo {
      background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-enterprise.png"); }
    body.marqy .sub-header .wrapper #category-logo {
      background-image: url("//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-marqy.png"); }
    .sub-header .wrapper .drop {
      width: 860px;
      float: left;
      margin-top: 58px; }
      .sub-header .wrapper .drop .drop_menu li:hover {
        background: none; }
        .sub-header .wrapper .drop .drop_menu li:hover ul {
          left: -50px;
          top: 45px; }
          .sub-header .wrapper .drop .drop_menu li:hover ul li a {
            background-color: #009fe3; }
      .sub-header .wrapper .drop .drop_menu li a {
        padding: 0 33px 30px 0;
        font-family: 'Lato';
        font-size: 15px;
        font-weight: 700;
        color: #999999; }
        .sub-header .wrapper .drop .drop_menu li a:hover {
          color: #666666;
          background: none; }
      .sub-header .wrapper .drop .drop_menu li > ul {
        padding: 19px 14px;
        background-color: #009fe3; }
        .sub-header .wrapper .drop .drop_menu li > ul:before {
          content: '.';
          width: 10px;
          height: 10px;
          background-color: #009fe3;
          color: #009fe3;
          position: absolute;
          left: 50%;
          top: -5px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sub-header .wrapper .drop .drop_menu li > ul li a {
          padding: 7px 0 7px 0;
          color: #00638d;
          font-family: 'Lato';
          font-size: 15px;
          font-weight: 400; }
          .sub-header .wrapper .drop .drop_menu li > ul li a:hover {
            color: white; }

/*# sourceMappingURL=styles.css.map */
