* {
   -webkit-font-smoothing: antialiased !important;
}

@mixin h1 {
   font-size: 43px;
   line-height: 59px;
   margin: 70px 0 22px 0;
   font-weight: 700;
   color: rgba(0, 159, 227, 1);
}

/* vendor prefixes */
@mixin transform($value) {
   -webkit-transform: $value;
   -moz-transform: $value;
   -ms-transform: $value;
   -o-transform: $value;
   transform: $value;
}

.mad-article {
   background-color: #ffffff;
   font-family: 'Lato', sans-serif;
   font-size: 17px;
   font-style: normal;
   // VARIABLES
   $article-width: 800px;
   /*
   Levels
   */
   $level-1: 50px;
   $level-2: 100px;
   $level-3: 150px;

   $step-level-1: 25px;
   /*
	 Type colors , background colors for boxes
 */
   //    $warning-color: #ea564b;
   $warning-background-color: #fef2f3; //#ffe9e9;
   $warning-border-color: #ffc1c1; //#f7d9d9;

   //    $note-color: #7a7a55;
   $note-background-color: #fcfcee; //#fffcd5;
   $note-border-color: #f8f08d; //#f8f4ba;

   //    $info-color: #666666;
   $info-background-color: #f8f8f8;
   $info-border-color: #eaeaea;

   //    $tip-color: #1f5fac;
   $tip-background-color: #f2f9fa; //#edfaff;
   $tip-border-color: #aad4e6; //#d5e8f2;

   //    $example-color: #48bc53;
   $example-background-color: #f2f9f2; //#eeffef;
   $example-border-color: #c1ecbd; //#d7f8d9;

   /*
	 TableStyle Colors (for Alternate rows)
 */
   $table-alternate-light-color: #ffffff;
   $table-alternate-dark-color: #f8f8f8;
   $table-border-color: #eaeaea;
   /*
	 Other
 */
   $link-color: #009fe3;
   //    $green: $example-color;
   $box-padding: 23px;
   $box-margin: 10px 0 10px 0;
   $li-padding: 0 0 0 0;
   $li-default-color: #009fe3;

   $dropdown-closed: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-closed.png") no-repeat 8.5px 5px;
   $dropdown-opened: url("https://p4.zdassets.com/hc/theme_assets/299558/200014303/dropdown-opened.png") no-repeat 8.5px 5px;
   // MIXINS
   /*
	 Levels
   */
   @mixin Level-1 {
      margin-left: $level-1;
   }

   @mixin Step-Level-1 {
      margin-left: $step-level-1;
   }

   @mixin Level-2 {
      margin-left: $level-2;
   }

   @mixin Level-3 {
      margin-left: $level-3;
   }
   /*
	  Borders
   */
   @mixin Border-None-TRB {
      border-top: none;
      border-right: none;
      border-bottom: none;

      td {
         border-bottom: none !important;
      }
   }
   /*
	 Spacing
   */
   @mixin NoSpaceBefore {
      margin-top: 0;
   }

   @mixin NoSpaceAfter {
      margin-bottom: 0;
   }

   @mixin NoSpaceBeforeOrAfter {
      margin-top: 0;
      margin-bottom: 0;
   }

   @mixin SpaceAfter {
      margin-bottom: 17px;
   }

   @mixin SpaceAfter10px {
      margin-bottom: 10px;
   }
   // Table Boxes
   @mixin WarningColors {
      //        color: $warning-color;
      background-color: $warning-background-color;
   }
   @mixin NoteColors {
      //        color: $note-color;
      background-color: $note-background-color;
   }
   @mixin InfoColors {
      //        color: $info-color;
      background-color: $info-background-color;
   }
   @mixin TipColors {
      //        color: $tip-color;
      background-color: $tip-background-color;
   }
   @mixin ExampleColors {
      //        color: $example-color;
      background-color: $example-background-color;
   }
   // Strong
   strong {
      color: #333333 !important;
   }
   // Boxes
   @mixin Warning {
      @include WarningColors;
      padding: $box-padding;
      margin: $box-margin;
      border: 2px solid $warning-border-color;
   }

   @mixin Note {
      @include NoteColors;
      padding: $box-padding;
      border: 2px solid $note-border-color;
   }

   @mixin Info {
      @include InfoColors;
      padding: $box-padding;
      border: 2px solid $info-border-color;
   }

   @mixin Tip {
      @include TipColors;
      padding: $box-padding;
      border: 2px solid $tip-border-color;
   }

   @mixin Example {
      @include ExampleColors;
      padding: $box-padding;
      border: 2px solid $example-border-color;
   }
   // List Mixins
   @mixin BulletList {
      list-style-position: outside;
      padding-left: 24px;
      margin-left: 40px;
   }

   @mixin NumberedList {
      list-style-position: outside;
      padding-left: 24px;
      margin-left: 40px;
   }
   // table mixins
   @mixin TableBorder {
      border: 2px solid $table-border-color;
      border-bottom: none;
      td {
         border-bottom: 2px solid $table-border-color;
      }
   }
   @mixin TableStyle-BorderColor($TableStyle-RowBorderColor) {
      td {
         border-color: $TableStyle-RowBorderColor;
      }
   }
   @mixin TableStyle-Level1Width {
      max-width: $article-width - $level-1;
   }
   @mixin TableStyle-Level2Width {
      max-width: $article-width - $level-2;
   }

   // Other Mixins
   @mixin ImageCaption {
      font-style: italic;
      font-size: 16px;
      margin-left: 30px;
   }
   @mixin MCDropDown_Open {
      background: $dropdown-opened;
      padding-left: 47px;
   }
   @mixin MCDropDown_Closed {
      background: $dropdown-closed;
      padding-left: 47px;
   }
   @mixin Code {
      font-family: 'Inconsolata';
   }
   @mixin TableSpacing {
      margin: 20px 0 40px 0;
      tbody > tr > td {
         padding: 20px;
         vertical-align: top;
      }
   }

   /*
	 PARAGRAPH STYLES
   */
   h1 {
      //gets moved out of article body
      @include h1;
   }

   h2 {
      font-size: 30px;
      font-weight: 700;
      margin: 70px 0 29px 0;
      color: rgba(51, 51, 51, 1);
   }

   h3 {
      font-size: 20px;
      color: rgba(51, 51, 51, 1);
      font-weight: 700;
      line-height: 28px;
      margin: 60px 0 8px 0;
   }

   h4 {
      font-size: 20px;
      color: rgba(51, 51, 51, 1);
      font-weight: 400;
      line-height: 28px;
   }

   //TODO: Create h5 style
   h5 {
   }

   a {
      color: $link-color;
   }

   img {
      border: 2px solid $info-border-color;
      margin: 20px 0 20px 0;
   }

   p {
      & > bold {
         color: #333333;
      }
      font-size: 17px;
      color: #666666;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-style: normal;
      margin: 0 0 20px;
      &.BulletLevel1Continuation {
         @include Level-1;

      }
      &.BulletLevel1ContinuationNoSpaceAfter {
         @include Level-1;
         @include NoSpaceAfter;
      }
      //  TODO: Inconsistentie! > BulletLevel1ContinuationNoSpaceBeforeOrAfter intended.
      &.BulletLevel1ContinuationNoSpaceBeforeAndAfter {
         @include Level-1;
         @include NoSpaceBeforeOrAfter;
      }
      &.BulletLevel1ContinuationNoSpaceBefore {
         @include Level-1;
         @include NoSpaceBefore;
      }
      &.BulletLevel1ContinuationNote {
         @include Level-1;
         //            color: $note-color;
      }
      &.BulletLevel1ContinuationWarning {
         @include Level-1;
         //            color: $warning-color;
      }

      &.BulletLevel2Continuation {
         @include Level-2;
      }
      &.BulletLevel2ContinuationNoSpaceAfter {
         @include Level-2;
         @include NoSpaceAfter;
      }
      &.BulletLevel2ContinuationNoSpaceBeforeOrAfter {
         @include Level-2;
         @include NoSpaceBeforeOrAfter;
      }
      &.BulletLevel2ContinuationNoSpaceBefore {
         @include Level-2;
         @include NoSpaceBefore;
      }
      &.BulletLevel2ContinuationNote {
         @include Level-2;
         //            color: $note-color;
      }
      &.BulletLevel2ContinuationWarning {
         @include Level-2;
         //            color: $warning-color;
      }

      &.BulletLevel3Continuation {
         @include Level-3;
      }
      &.BulletLevel3ContinuationNoSpaceAfter {
         @include Level-3;
         @include NoSpaceAfter;
      }
      &.BulletLevel3ContinuationNoSpaceBeforeOrAfter {
         @include Level-3;
         @include NoSpaceBeforeOrAfter;
      }
      &.BulletLevel3ContinuationNoSpaceBefore {
         @include Level-3;
         @include NoSpaceBefore;
      }

      &.caution {
         @include Warning;
         @include Border-None-TRB;
      }

      &.example {
         @include Example;
         @include Border-None-TRB;
      }
      &.exampleLevel1 {
         @include Level-1;
         @include Example;
         @include Border-None-TRB;
      }
      &.exampleLevel2 {
         @include Level-2;
         @include Example;
         @include Border-None-TRB;
      }

      &.ImageCaption {
         @include ImageCaption;
      }
      &.ImageCaptionExample {
         @include ImageCaption;
         @include Example;
         @include Border-None-TRB;
      }
      &.ImageCaptionExampleLevel1 {
         @include Level-1;
         @include ImageCaption;
         @include Example;
         @include Border-None-TRB;
      }
      &.ImageCaptionExampleLevel2 {
         @include Level-2;
         @include ImageCaption;
         @include Example;
         @include Border-None-TRB;
      }
      &.ImageCaptionLevel1 {
         @include Level-1;
         @include ImageCaption;
      }
      &.ImageCaptionLevel1Green {
         @include Level-1;
         @include ImageCaption;
         //            color: $green;
      }
      &.ImageCaptionNoSpaceAfter {
         @include NoSpaceAfter;
         @include ImageCaption;
      }
      &.ImageCaptionNoSpaceBeforeOrAfter {
         @include NoSpaceBeforeOrAfter;
         @include ImageCaption;
      }
      &.ImageCaptionNoSpaceBefore {
         @include NoSpaceBefore;
         @include ImageCaption;
      }

      &.info {
         @include Info;
         @include Border-None-TRB;
      }
      &.infoLevel1 {
         @include Level-1;
         @include Info;
         @include Border-None-TRB;
      }
      &.infoLevel2 {
         @include Level-2;
         @include Info;
         @include Border-None-TRB;
      }

      &.NoSpaceAfter {
         @include NoSpaceAfter;
      }
      &.NoSpaceBeforeOrAfter {
         @include NoSpaceBeforeOrAfter;
      }
      &.NoSpaceBefore {
         @include NoSpaceBefore;
      }
      &.note {
         @include Note;
         @include Border-None-TRB;
      }
      &.noteLevel1 {
         @include Level-1;
         @include Note;
         @include Border-None-TRB;
      }
      &.noteLevel2 {
         @include Level-2;
         @include Note;
         @include Border-None-TRB;
      }

      &.noteStepLevel1 {
         @include Step-Level-1;
         @include Note;
         @include Border-None-TRB;
      }
      // TODO: Inconsistency! noteStepLevel1Continuation
      &.StepLevel1Continuation {
         @include Step-Level-1;
         @include Note;
         @include Border-None-TRB;
      }

      &.tableExample {
         @include ExampleColors;
      }
      &.tableExampleLevel1 {
         @include Level-1;
         @include ExampleColors;
      }
      &.tableExampleLevel2 {
         @include Level-2;
         @include ExampleColors;
      }
      &.tableExampleNoSpaceBeforeOrAfter {
         @include NoSpaceBeforeOrAfter;
         @include ExampleColors;
      }

      &.tableInfo {
         @include InfoColors;
      }
      &.tableInfoNoSpaceAfter {
         @include NoSpaceAfter;
         @include InfoColors;
      }
      &.tableInfoNoSpaceBeforeOrAfter {
         @include NoSpaceBeforeOrAfter;
         @include InfoColors;
      }
      &.tableInfoNoSpaceBefore {
         @include NoSpaceBefore;
         @include InfoColors;
      }

      &.tableNote {
         @include NoteColors;
      }
      &.tableNoteLevel1 {
         @include Level-1;
         @include NoteColors;
      }
      &.tableNoteLevel1NoSpaceAfter {
         @include Level-1;
         @include NoSpaceAfter;
         @include NoteColors;
      }
      &.tableNoteLevel1NoSpaceBeforeOrAfter {
         @include Level-1;
         @include NoSpaceBeforeOrAfter;
         @include NoteColors;
      }
      &.tableNoteLevel1NoSpaceBefore {
         @include Level-1;
         @include NoSpaceBefore;
         @include NoteColors;
      }
      &.tableNoteLevel2 {
         @include Level-2;
         @include NoteColors;
      }
      &.tableNoteLevel3 {
         @include Level-3;
         @include NoteColors;
      }

      &.BulletLevel1ContinuationNote {
         @include Level-1;
         //            color: $note-color;
      }
      &.BulletLevel2ContinuationNote {
         @include Level-2;
         //            color: $note-color;
      }

      &.ImageCaptionLevel1Green {
         @include Level-1;
         @include ImageCaption;
         //            color: $green;
      }

      &.tableTip {
         @include TipColors;
      }
      &.tableTipLevel1 {
         @include Level-1;
         @include TipColors;
      }
      &.ImageCaptiontip {
         @include ImageCaption;
      }

      &.tableWarning {
         @include WarningColors;
      }
      &.tableWarningLevel1 {
         @include Level-1;
         @include WarningColors;
      }
      &.tableWarningLevel2 {
         @include Level-2;
         @include WarningColors;
      }

      &.tip {
         @include Tip;
         @include Border-None-TRB;
      }
      &.tipLevel1 {
         @include Level-1;
         @include Tip;
         @include Border-None-TRB;
      }
      &.tipStepLevel1 {
         @include Step-Level-1;
         @include Tip;
         @include Border-None-TRB;
      }

      &.warning {
         @include Warning;
         @include Border-None-TRB;
      }
   }

   hr {
      display: none;
   }

   /*
	 CHARACTER STYLES
 */
   span {
      &.Blue {
         color: #009ee2;
      }
      //  TODO: Inconsistency! > Orange
      &.orange {
         color: #ff9e3e;
      }
      &.HighlightYellow {
         color: #333333;
         background-color: #fffcd5;
      }
      &.Red {
         color: #ea564b;
      }
   }

   kbd {
      font-family: 'Lato';
      padding: 2px 20px;
      font-size: 90%;
      color: #333333;
      background-color: #eaeaea;
      border-radius: 3px;
      box-shadow: none;
   }

   .b {
      font-weight: bold;
      &.Step {
         font-weight: bold;
         font-style: normal;
      }
   }

   /*
	 LIST STYLES
 */
   ul, ol {
      padding: 0;
      margin: 0 0 20px;
      line-height: 28px;
   }

   ol {
      > li {
         @include NumberedList;
      }
   }
;
   ul {
      > li {
         @include BulletList;
      }
   }
;

   li {
      &.BulletLevel1 {
         @include Level-1;
      }
      &.BulletLevel2 {
         @include Level-2;
      }
      &.BulletLevel3 {
         @include Level-3;
      }
      &.BulletLevel2SpaceAfter10px {
         @include Level-2;
         @include SpaceAfter10px;
      }
      &.BulletLevel1Example {
         @include Level-1;
         //            color: $example-color;
      }
      &.BulletLevel2Example {
         @include Level-2;
         //            color: $example-color;
      }
      &.BulletLevel1Note {
         @include Level-1;
         //            color: $note-color;
      }
      &.BulletLevel1NoteSpaceAfter {
         @include Level-1;
         //            color: $note-color;
         @include SpaceAfter;
      }
      &.BulletLevel2Note {
         @include Level-2;
         //            color: $note-color;
      }
      &.BulletLevel3Note {
         @include Level-3;
         //            color: $note-color;
      }
      &.BulletLevel1Tip {
         @include Level-1;
         //            color: $tip-color;
      }
      &.BulletLevel1Warning {
         @include Level-1;
         //            color: $warning-color;
      }
      &.BulletLevel2Warning {
         @include Level-2;
         //            color: $warning-color;
      }
      &.SpaceAfter10px {
         @include SpaceAfter10px;
      }
      &.BulletLevel1Info {
         @include Level-1;
         //            color: $info-color;
      }
      &.BulletLevel2Info {
         @include Level-2;
         //            color: $info-color;
      }
      &.BulletLevel3Info {
         @include Level-3;
         //            color: $info-color;
      }
      &.NumberedLevel1 {
         @include Level-1;
      }
      &.NumberedLevel2 {
         @include Level-2;
      }
      &.NumberedLevel3 {
         @include Level-3;
      }
   }

   /*
	 TABLE STYLES
 */
   table {
      table {
         &.TableStyle-AlternateRowsLevel1,
         &.TableStyle-Level1,
         &.TableStyle-ExampleLevel1,
         &.TableStyle-InfoLevel1,
         &.TableStyle-NoteLevel1,
         &.TableStyle-TipLevel1,
         &.TableStyle-WarningLevel1 {
            width: 708px;
         }
         &.TableStyle-AlternateRowsLevel2,
         &.TableStyle-Level2,
         &.TableStyle-ExampleLevel2,
         &.TableStyle-InfoLevel2,
         &.TableStyle-NoteLevel2,
         &.TableStyle-TipLevel2,
         &.TableStyle-WarningLevel2 {
            width: 658px;
         }
      }
      width: 100%;
      max-width: $article-width;
      table-layout: fixed;
      thead {
         th {
            font-weight: bold;
            text-align: left;
            padding: 10px 20px;
            border-bottom: 2px solid $table-border-color;
            background-color: #f8f8f8;
         }
      }

      @include TableSpacing;

      &.TableStyle-Level1 {
         @include TableBorder;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-Level2 {
         border: 2px solid $table-border-color;
         @include Level-2;
         @include TableStyle-Level2Width;
      }

      &.TableStyle-Example {
         @include ExampleColors;
         border: 2px solid $example-border-color;
         @include TableStyle-BorderColor($example-border-color);
         @include Border-None-TRB;
      }
      &.TableStyle-ExampleNoSpaceBeforeAfter {
         @extend table.TableStyle-Example;
         @include NoSpaceBeforeOrAfter;
      }
      &.TableStyle-ExampleLevel1 {
         @extend table.TableStyle-Example;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-ExampleLevel2 {
         @extend table.TableStyle-Example;
         @include Level-2;
         @include TableStyle-Level2Width;
      }
      // TODO: Inconsistency in naming should be TableStyle-Info
      &.TableStyle-info {
         @include InfoColors;
         @include TableStyle-BorderColor($info-border-color);
         border: 2px solid $info-border-color;
         @include Border-None-TRB;
      }
      &.TableStyle-InfoLevel1 {
         @extend table.TableStyle-info;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-InfoLevel2 {
         @extend table.TableStyle-info;
         @include Level-2;
         @include TableStyle-Level2Width;
      }

      &.TableStyle-Warning {
         @include WarningColors;
         border: 2px solid $warning-border-color;
         @include TableStyle-BorderColor($warning-border-color);
         @include Border-None-TRB;
      }
      &.TableStyle-WarningLevel1 {
         @extend table.TableStyle-Warning;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-WarningLevel2 {
         @extend table.TableStyle-Warning;
         @include Level-2;
         @include TableStyle-Level2Width;
      }

      &.TableStyle-Tip {
         @include TipColors;
         border: 2px solid $tip-border-color;
         @include TableStyle-BorderColor($tip-border-color);
         @include Border-None-TRB;
      }
      &.TableStyle-TipLevel1 {
         @extend table.TableStyle-Tip;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-TipLevel2 {
         @extend table.TableStyle-Tip;
         @include Level-2;
         @include TableStyle-Level2Width;
      }

      &.TableStyle-Note {
         @include NoteColors;
         border: 2px solid $note-border-color;
         @include TableStyle-BorderColor($note-border-color);
         @include Border-None-TRB;
      }
      &.TableStyle-NoteLevel1 {
         @extend table.TableStyle-Note;
         @include Level-1;
         @include TableStyle-Level1Width;
      }
      &.TableStyle-NoteLevel2 {
         @extend table.TableStyle-Note;
         @include Level-2;
         @include TableStyle-Level2Width;
      }
      @mixin AlternateRowsBorderBottom {
         //edge case
         & > tbody > tr > td {
            border-bottom: 2px solid $table-border-color !important;
         }
      }
      &.TableStyle-AlternateRows {
         @include TableBorder;
         .Body-White {
            background-color: $table-alternate-light-color;
         }
         .Body-Gray {
            background-color: $table-alternate-dark-color;
         }
         @include AlternateRowsBorderBottom;
      }
      &.TableStyle-AlternateRowsLevel1 {
         @extend .TableStyle-AlternateRows;
         @include Level-1;
         @include TableStyle-Level1Width;
         @include AlternateRowsBorderBottom;
      }
      &.TableStyle-AlternateRowsLevel2 {
         @extend .TableStyle-AlternateRows;
         @include Level-2;
         @include TableStyle-Level2Width;
         @include AlternateRowsBorderBottom;
      }
   }

   /*
	 DROPDOWN STYLES
 */
   .MCDropDown_Open .MCDropDownHotSpot_ {
      @include MCDropDown_Open;
   }
   .MCDropDown_Closed .MCDropDownHotSpot_ {
      @include MCDropDown_Closed;
   }
   .MCDropDown_Open {
      .dropDownHeadLevel1 .MCDropDownHotSpot_ {
         @include MCDropDown_Open;
      }
      .dropDownHeadLevel1Note .MCDropDownHotSpot_ {
         @include MCDropDown_Open;
      }
      .dropDownHeadLevel2 .MCDropDownHotSpot_ {
         @include MCDropDown_Open;
      }
      .dropDownHeadLevel2Note .MCDropDownHotSpot_ {
         @include MCDropDown_Open;
      }
   }
   .MCDropDown_Closed {
      .dropDownHeadLevel1 .MCDropDownHotSpot_ {
         @include MCDropDown_Closed;
      }
      .dropDownHeadLevel2 .MCDropDownHotSpot_ {
         @include MCDropDown_Closed;
      }
      .dropDownHeadLevel1Note .MCDropDownHotSpot_ {
         @include MCDropDown_Closed;
      }
      .dropDownHeadLevel2Note .MCDropDownHotSpot_ {
         @include MCDropDown_Closed;
      }
   }

   .MCDropDown {
      margin-bottom: 13px;
      .MCDropDownHead {
         padding-left: 14px;
         cursor: pointer;
         -webkit-user-select: none; /* Chrome all / Safari all */
         -moz-user-select: none; /* Firefox all */
         -ms-user-select: none; /* IE 10+ */
      }
      .MCDropDownBody {
         margin-left: 61px;
      }
      & .MCDropDown_Closed > .MCDropDownBody {
         display: none;
      }
      & .MCDropDown_Open > .MCDropDownBody {
         display: block;
      }
      .dropDownHeaddropdownHeadInfo {
         //            color: $info-color;
         & + .MCDropDownBody {
         }
      }
      .dropDownHeaddropdownHeadNote {
         //            color: $note-color;
         & + .MCDropDownBody {
         }
      }
      .dropDownHeaddropdownHeadTip {
         //            color: $tip-color;
         & + .MCDropDownBody {
         }
      }
      .dropDownHeadLevel1 {
         @include Level-1;
         & + .MCDropDownBody {
            //                @include Level-1;
            margin-left: 111px;
         }
      }
      .dropDownHeadLevel2 {
         @include Level-2;
         & + .MCDropDownBody {
            @include Level-2;
            margin-left: 161px;
         }
      }
      .dropDownHeadLevel1Note {
         @include Level-1;
         //            color: $note-color;
         & + .MCDropDownBody {
            //                @include Level-1;
            margin-left: 111px;
         }
      }
      .dropDownHeadLevel2Note {
         @include Level-2;
         //            color: $note-color;
         & + .MCDropDownBody {
            @include Level-2;
            margin-left: 161px;
         }
      }
   }

   /*
	 CODE STYLES
 */
   @mixin prettify {
      //        background-color: #f8f8f8;
      border: none;
      $margin-code: 0px;
      margin-top: $margin-code;
      margin-bottom: $margin-code;
   }
   samp {
      font-family: 'Inconsolata';
      font-size: 16px;
   }
   pre.code-block {
      font-family: 'Inconsolata';
      font-size: 14px;
      background-color: $info-background-color;
      border: 2px solid $info-border-color;
      padding: 30px;
      border-radius: 0px;
      & > ol.linenums {
         line-height: 20px !important;
         & > li {
            color: #cecece !important;
            list-style-type: decimal-leading-zero !important;
         }
      }
   }
   code.code-inline {
      font-family: 'Inconsolata' !important;
      font-size: 14px !important;
      background-color: $info-background-color !important;
      border-radius: 0 !important;
      padding: 0 !important;
   }
   p {
      line-height: 26px;
      span {
         &.HighlightYellowCode {
            color: #333333;
            background-color: #fffcd5;
            font-family: 'Inconsolata';
            line-height: 1.5;
         }
      }
      &.code {
         //            @include Code;
         @include prettify;
      }
      &.codeLevel1 {
         @include Level-1;
         //            @include Code;
         @include prettify;
      }
      &.NoSpaceAfter_Code {
         //            @include NoSpaceAfter;
         //            @include Code;
         @include prettify;
      }
      &.NoSpaceBeforeOrAfter_Code {
         //            @include NoSpaceBeforeOrAfter;
         //            @include Code;
         @include prettify;
      }
      &.NoSpaceBefore_Code {
         //            @include NoSpaceBefore;
         //            @include Code;
         @include prettify;
      }
   }
   /*
   **Start Temporary Styles
   */
   .greenBox {
      border: 1px solid #3C6;
      padding: 5px;
      margin: 2px;
      background-color: #EFE;
      padding-left: 42px;
      background-image: url('https://p4.zdassets.com/hc/theme_assets/299558/200014303/check.png');
      background-repeat: no-repeat;
      background-position: 5px;
   }
   .tipBox {
      border: 1px solid #39C;
      padding: 5px;
      margin: 2px;
      background-color: #E3EFF6;
   }
   .noteBox {
      border: 1px solid #C7C478;
      padding: 5px;
      margin: 2px;
      background-color: #FFFFE2;
   }
   .warningBox {
      border: 1px solid #C77878;
      padding: 5px;
      margin: 2px;
      background-color: #F6E3E3;
   }
   /*
   **End Temporary Styles
   */
}

main {
   width: 1200px !important;
}

.article-column {
   width: 800px !important;
   float: left !important;
   article > h1 {
      @include h1;
   }
   & > section.article-comments {
      h2 {

      }
      ul.comment-list {

         li.comment {
            .comment-author {

            }
            .comment-delete {

            }
            .comment-edit {

            }
            .comment-published {

            }
            .comment-body {

            }
         }
      }
      form {
         .comment-form {
            .comment-avatar {

            }
            .comment-container {
               textarea.comment_body {

               }
               .comment-form-controls {
                  input[type=submit] {
                     border-radius: 5px;
                     border: none;
                     box-shadow: none;
                     margin-top: 17px;
                     padding: 0px 20px;
                     color: white;
                     background-color: #009fe3;
                     font-family: 'Lato';
                     font-size: 15px;
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }
}

.sidebar {
   float: right;
   width: 300px;
   margin-top: 75px;
   .affix-top {
      color: red !important;
   }
   .affix {
      top: 30px;
      color: white !important;
   }
   .affix-bottom {
      color: darkblue !important;
   }
   form.search {
      input {
         &:focus {
            outline: none;
         }
         &#query {
            height: 40px;
            width: 260px;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
               color: #666666;
            }
         }
         &[name="commit"] {
            float: right;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 0;
            box-shadow: none;
            border: none;
            color: #009fe3;
            background-color: #009fe3;
            background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/icon-search.png');
            background-position: center;
            background-repeat: no-repeat;
         }
      }
   }
   hr {
      margin: 30px 0;
      border: 1px solid #f1f1f1;
   }
   .mad-menu {
      max-width: 300px;
      font-family: 'Lato';
      *:hover {
         text-decoration: none;
      }
      li {
         margin: 15px 0;
      }
      .h1 {
         color: #009fe3;
         font-weight: 700;
         font-size: 16px;
      }
      .h2 {
         color: #999999;
         font-size: 16px;
      }
      .h3 {
         color: #999999;
         font-size: 16px;
         margin-left: 10px;
      }
   }
   a {
      &:hover {
         text-decoration: none;
      }
      &.top > p {
         color: #bbbbbb;
         font-size: 14px;
         margin-bottom: 0;
      }
      &.article-subscribe,
      &.article-unsubscribe {
         background-color: white;
         color: #bbbbbb;
         font-size: 14px;
         border: none;
         margin: 0;
         padding: 0;
         border-radius: 0;
         float: left;
      }
   }
}

.header {
   height: 65px;
   //    background-color: #333333;
   background-color: #3a3f4e;
   .header-inner {
      background-color: #3a3f4e;
      height: 65px;
      width: 1200px;
      a {
         &:hover {
            text-decoration: none;
         }
         .title {
            float: left;
            line-height: 60px;
            span {
               font-family: 'Lato';
               font-weight: 700;
               font-size: 23px;
               &:first-child {
                  color: #009fe3;
                  //                     display:none;
               }
               &:last-child {
                  color: white;
               }
            }
         }
      }
      nav.user-nav {
         margin: 0;
         a.login {
            border-radius: 5px;
            border: none;
            box-shadow: none;
            margin-top: 17px;
            padding: 0px 20px;
            color: white;
            background-color: #343946;
            font-family: 'Lato';
            font-size: 15px;
            font-weight: bold;
            &:hover {
               background-color: #009fe3;
            }
         }
         #user.user-info {
            &:hover {
               background-color: #009fe3;
               #user-dropdown {
                  display: block !important;
               }
            }
            .dropdown-toggle[role="button"] {
               height: 65px;
               border: none;
               border-radius: 0px;
               box-shadow: none;
               padding: 12px 20px;
               background: none;
               margin-left: 0;
               &:after {
                  color: white;
               }
               #user-avatar {
                  border-radius: 100%;
                  border: 3px solid white;
                  height: 40px;
                  max-height: 40px;
                  width: 40px;
               }
               #user-name {
                  color: white;
                  font-family: 'Lato';
                  font-size: 15px;
                  font-weight: bold;
                  padding-left: 5px;
               }
            }
            #user-dropdown {
               width: 100%;
               margin-top: 0;
               border-radius: 0;
               border: none;
               box-shadow: none;
               background-color: #009fe3;
               -webkit-box-shadow: inset 0px 30px 33px -28px rgba(0, 99, 141, 1);
               -moz-box-shadow: inset 0px 30px 33px -28px rgba(0, 99, 141, 1);
               box-shadow: inset 0px 30px 33px -28px rgba(0, 99, 141, 1);
               display: none;
               &.dropdown-menu-caret:before,
               &.dropdown-menu-caret:after,
               {
                  display: none;
               }
               #user-menu {
                  a[role=menuitem] {
                     font-family: 'Lato';
                     font-size: 15px;
                     color: #00638d;
                     &:hover {
                        color: white;
                        background: none;
                     }
                  }
                  span[role=separator] {
                     display: none;
                  }
               }
            }
         }
      }
   }
}

.sub-header {
   background-color: #f8f8f8;
   .wrapper {
      background-color: #f8f8f8;
      margin: 0 auto;
      padding: 0 20px;
      width: 1200px;
      height: 140px;
      #category-logo {
         width: 300px;
         height: 60px;
         float: left;
         margin: 40px auto;
      }
      & #category-logo {
         background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-woodwing.png')
      }
      //        body.analytics & #category-logo {background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-analytics.png')}
      body.elvis-saas & #category-logo,
      body.elvis-dam & #category-logo {
         background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-elvis.png')
      }
      body.important-product-announcements & #category-logo {
         background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-announcements.png')
      }
      body.enterprise & #category-logo {
         background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-enterprise.png')
      }
      body.marqy & #category-logo {
         background-image: url('//p4.zdassets.com/hc/theme_assets/650348/200113125/logo-marqy.png')
      }

      .drop {
         width: 860px;
         float: left;
         margin-top: 58px;
         .drop_menu {
            li {
               &:hover {
                  background: none;
                  ul {
                     left: -50px;
                     top: 45px;
                     li {
                        a {
                           background-color: #009fe3;
                        }
                     }
                  }
               }
               a {
                  padding: 0 33px 30px 0;
                  font-family: 'Lato';
                  font-size: 15px;
                  font-weight: 700;
                  color: #999999;
                  &:hover {
                     color: #666666;
                     background: none;
                  }
               }
               & > ul {
                  &:before {
                     content: '.';
                     width: 10px;
                     height: 10px;
                     background-color: #009fe3;
                     color: #009fe3;
                     position: absolute;
                     left: 50%;
                     top: -5px;
                     @include transform(rotate(45deg));
                  }
                  padding: 19px 14px;
                  background-color: #009fe3;
                  li {
                     a {
                        padding: 7px 0 7px 0;
                        color: #00638d;
                        font-family: 'Lato';
                        font-size: 15px;
                        font-weight: 400;
                        &:hover {
                           color: white;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
