/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: AlternateRows;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #becfdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #becfdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #becfdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #becfdc;
	max-id: 5;
	border-spacing-x: 0;
	cell-padding-left: 20px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-padding-right: 20px;
	margin-left: 0px;
	background-image: none;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: bottom;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: White;
	id: 1;
}
mcTableBodyStyle {
	span: 1;
	id: 4;
	name: Gray;
	background-color: #dcdcdc;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-AlternateRows {
	border-collapse: collapse;
	background-image: none;
	border-left-style: solid;
	border-left-color: #becfdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #becfdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #becfdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #becfdc;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	border-spacing: 0px 0px;
}
.TableStyle-AlternateRows .HeadI-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .HeadE-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRows .HeadF-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRows .HeadH-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .HeadD-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRows .HeadC-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .HeadB-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .HeadA-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .HeadG-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRows .FootI-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .FootE-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRows .FootF-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRows .FootH-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .FootD-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRows .FootC-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .FootB-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .FootA-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .FootG-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .BodyI-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .BodyE-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyF-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRows .BodyH-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyD-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRows .BodyC-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .BodyB-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyA-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .BodyG-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRows .BodyI-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRows .BodyE-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyF-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRows .BodyH-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyD-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRows .BodyC-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRows .BodyB-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRows .BodyA-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRows .BodyG-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}