/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: AlternateRowsLevel1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #becfdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #becfdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #becfdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #becfdc;
	max-id: 5;
	border-spacing-x: 0;
	cell-padding-left: 20px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-padding-right: 20px;
	margin-left: 40px;
	background-image: none;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: bottom;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: White;
	id: 1;
}
mcTableBodyStyle {
	span: 1;
	id: 4;
	name: Gray;
	background-color: #dcdcdc;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-AlternateRowsLevel1 {
	border-collapse: collapse;
	background-image: none;
	border-left-style: solid;
	border-left-color: #becfdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #becfdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #becfdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #becfdc;
	border-bottom-width: 1px;
	margin-left: 40px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	border-spacing: 0px 0px;
}
.TableStyle-AlternateRowsLevel1 .HeadI-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .HeadE-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRowsLevel1 .HeadF-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRowsLevel1 .HeadH-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .HeadD-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRowsLevel1 .HeadC-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .HeadB-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .HeadA-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .HeadG-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: bottom;
}
.TableStyle-AlternateRowsLevel1 .FootI-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .FootE-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRowsLevel1 .FootF-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRowsLevel1 .FootH-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .FootD-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-AlternateRowsLevel1 .FootC-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .FootB-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .FootA-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .FootG-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .BodyI-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .BodyE-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyF-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyH-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyD-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyC-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .BodyB-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyA-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .BodyG-Column1-White {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-AlternateRowsLevel1 .BodyI-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRowsLevel1 .BodyE-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyF-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRowsLevel1 .BodyH-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyD-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRowsLevel1 .BodyC-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRowsLevel1 .BodyB-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-AlternateRowsLevel1 .BodyA-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}
.TableStyle-AlternateRowsLevel1 .BodyG-Column1-Gray {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
}