/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: Elvis-API;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-top: 10px;
	margin-bottom: 10px;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	background-color: #a9a9a9;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
	size: 80px;
}
mcTableColumnStyle {
	span: 1;
	id: 4;
	name: Column2;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-Elvis-API {
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}
.TableStyle-Elvis-API .Column-Column1 { width: 80px }
.TableStyle-Elvis-API .HeadI-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadI-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadE-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadE-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadF-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadF-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadH-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .HeadH-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadD-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadD-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadC-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadC-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadB-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .HeadB-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadA-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadA-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadG-Column1-Header1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadG-Column1-Header1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .HeadI-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadE-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadF-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadH-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadD-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Elvis-API .HeadC-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadB-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadA-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .HeadG-Column2-Header1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootI-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootI-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootE-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootE-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootF-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootF-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootH-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .FootH-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootD-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootD-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootC-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootC-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootB-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .FootB-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootA-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootA-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootG-Column1-Footer1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootG-Column1-Footer1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .FootI-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootE-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootF-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootH-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootD-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Elvis-API .FootC-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootB-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootA-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .FootG-Column2-Footer1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyI-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyI-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyE-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .BodyE-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyF-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyF-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyH-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .BodyH-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyD-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyD-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyC-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyC-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyB-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Elvis-API .BodyB-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyA-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyA-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyG-Column1-Body1 {
	color: #ffffff;
	font-weight: bold;
	background-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyG-Column1-Body1 p {
	color: #ffffff;
	font-weight: bold;
}
.TableStyle-Elvis-API .BodyI-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyE-Column2-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyF-Column2-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyH-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyD-Column2-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyC-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyB-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyA-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.TableStyle-Elvis-API .BodyG-Column2-Body1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}