/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: info;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	max-id: 3;
	background-color: #f5f5f5;
	border-spacing-x: 0;
	cell-padding-left: 20px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-padding-right: 20px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-info {
	border-collapse: collapse;
	background-color: #f5f5f5;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	border-spacing: 0px 0px;
}
.TableStyle-info .HeadI-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .HeadE-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-info .HeadF-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-info .HeadH-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .HeadD-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-info .HeadC-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .HeadB-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .HeadA-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .HeadG-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .FootI-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .FootE-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-info .FootF-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-info .FootH-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .FootD-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-info .FootC-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .FootB-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .FootA-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .FootG-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .BodyI-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .BodyE-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .BodyF-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-info .BodyH-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .BodyD-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-info .BodyC-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .BodyB-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-info .BodyA-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-info .BodyG-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
