/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-Basic {
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}
.TableStyle-Basic .HeadE-Column1-Header1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Basic .HeadF-Column1-Header1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Basic .HeadH-Column1-Header1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .HeadD-Column1-Header1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Basic .HeadB-Column1-Header1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .FootE-Column1-Footer1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Basic .FootF-Column1-Footer1 {
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Basic .FootH-Column1-Footer1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .FootD-Column1-Footer1 {
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Basic .FootB-Column1-Footer1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .BodyE-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .BodyF-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Basic .BodyH-Column1-Body1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Basic .BodyD-Column1-Body1 {
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Basic .BodyB-Column1-Body1 {
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}