/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: Note;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bfd62f;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #bfd62f;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #bfd62f;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #bfd62f;
	max-id: 3;
	background-color: #eaf5d8;
	border-spacing-x: 0;
	cell-padding-left: 20px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-padding-right: 20px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-Note {
	border-collapse: collapse;
	background-color: #eaf5d8;
	border-left-style: solid;
	border-left-color: #bfd62f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #bfd62f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #bfd62f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfd62f;
	border-bottom-width: 1px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	border-spacing: 0px 0px;
}
.TableStyle-Note .HeadI-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .HeadE-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Note .HeadF-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Note .HeadH-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .HeadD-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Note .HeadC-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .HeadB-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .HeadA-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .HeadG-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .FootI-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .FootE-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Note .FootF-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Note .FootH-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .FootD-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Note .FootC-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .FootB-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .FootA-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .FootG-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .BodyI-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .BodyE-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .BodyF-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Note .BodyH-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .BodyD-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Note .BodyC-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .BodyB-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Note .BodyA-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Note .BodyG-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}