/* MadCap Table Style: */
/*<meta Version="7" />*/
mcTableStyle {
	name: Warning;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #b22222;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #b22222;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #b22222;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #b22222;
	max-id: 3;
	background-color: #ffe4e1;
	border-spacing-x: 0;
	cell-padding-left: 20px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-padding-right: 20px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
mcTableColumnStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}
mcTableHeadStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}
mcTableBodyStyle {
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}
mcTableFootStyle {
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}
/* Cell Styles: */
.TableStyle-Warning {
	border-collapse: collapse;
	background-color: #ffe4e1;
	border-left-style: solid;
	border-left-color: #b22222;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #b22222;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #b22222;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b22222;
	border-bottom-width: 1px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	border-spacing: 0px 0px;
}
.TableStyle-Warning .HeadI-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .HeadE-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Warning .HeadF-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Warning .HeadH-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .HeadD-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Warning .HeadC-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .HeadB-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .HeadA-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .HeadG-Column1-Header1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .FootI-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .FootE-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Warning .FootF-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Warning .FootH-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .FootD-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}
.TableStyle-Warning .FootC-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .FootB-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .FootA-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .FootG-Column1-Footer1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .BodyI-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .BodyE-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .BodyF-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Warning .BodyH-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .BodyD-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
.TableStyle-Warning .BodyC-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .BodyB-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}
.TableStyle-Warning .BodyA-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.TableStyle-Warning .BodyG-Column1-Body1 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}