/*<meta />*/
body {
	font-family: Arial;
	font-size: 13px;
	line-height: 1.7em;
	margin: 17px;
	max-width: 750px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #749AB6;
}
p.example {
	border: solid 1px #BECFDC;
	background-color: #DEE8F0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	color: #546c7f;
}
p.note {
	color: #616E14;
	border: solid 1px #BFD62F;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	background-color: #eaf5d8;
	-webkit-border-radius: 0;
}
MadCap|expanding {
	mc-open-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/plus.png');
	mc-image-position: left;
}
MadCap|dropDown {
	mc-open-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/plus.png');
}
MadCap|toggler {
	mc-open-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../program files (x86)/madcap software/madcap flare v8/flare.app/resources/images/webhelp/plus.png');
	color: inherit;
}
MadCap|popupHead { color: #5B8EC1 }
MadCap|popupBody {
	color: #EBEBEB;
	border: none;
	background-color: rgba(0, 0, 0, .85);
	padding: 11px 15px;
}
MadCap|glossaryTerm.Expanding {
	color: inherit;
	font-weight: inherit;
}
MadCap|glossaryTerm.Hyperlink {
	color: #5B8EC1;
	font-weight: inherit;
}
MadCap|glossaryTerm.Popup {
	color: #5B8EC1;
	font-weight: normal;
}
MadCap|conceptLink { color: #000000 }
MadCap|keywordLink { color: #000000 }
MadCap|relatedTopics { color: #000000 }
MadCap|helpControlMenu {
	color: #707070;
	background-color: #FFFFFF;
	border: none;
}
MadCap|helpControlMenuItem {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}
MadCap|helpControlMenuItem.Highlighted {
	color: #000000;
	background-color: #E5EFF7;
}
MadCap|xref { mc-format: '{paratext}' }
p.warning {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #b22222;
	border-bottom-color: #b22222;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #b22222;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-color: #b22222;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-color: #b22222;
	border-left-width: 1px;
	border-left-style: solid;
	padding-bottom: 14px;
	padding-top: 14px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #ffe4e1;
}
p.tip {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff8dc;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #f0e68c;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #f0e68c;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #f0e68c;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f0e68c;
	color: #b8860b;
}
div.ImagesFloatRight {
	margin-left: 10px;
	float: right;
	clear: both;
}
div.ImagesNoFloat { }
p.ImageCaption {
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}
b.Step {
	font-weight: bold;
	font-style: normal;
}
li.BulletLevel2 { margin-left: 20px }
li.BulletLevel3 { margin-left: 40px }
li.NumberedLevel1 { }
li.NumberedLevel2 { margin-left: 20px }
li.NumberedLevel3 { margin-left: 40px }
p.BulletLevel1Continuation { margin-left: 40px }
p.BulletLevel2Continuation { margin-left: 60px }
p.BulletLevel3Continuation { margin-left: 80px }
p.tableNote { color: #616e14 }
li.BulletLevel1Note { color: #616e14 }
p.BulletLevel1ContinuationNote {
	color: #616e14;
	margin-left: 40px;
}
p.BulletLevel2ContinuationNote {
	color: #616e14;
	margin-left: 60px;
}
p.exampleLevel1 {
	border: solid 1px #BECFDC;
	background-color: #DEE8F0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	margin-left: 40px;
	color: #546c7f;
}
p.exampleLevel2 {
	color: #546C7F;
	border: solid 1px #BECFDC;
	background-color: #DEE8F0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	margin-left: 60px;
}
p.noteLevel1 {
	color: #616E14;
	border: solid 1px #BFD62F;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	background-color: #eaf5d8;
	margin-left: 40px;
}
p.noteLevel2 {
	color: #616E14;
	border: solid 1px #BFD62F;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	background-color: #eaf5d8;
	margin-left: 60px;
}
p.tableNoteLevel1 {
	color: #616e14;
	margin-left: 40px;
}
p.tableNoteLevel2 {
	color: #616e14;
	margin-left: 60px;
}
span.orange { color: #f6a124 }
code.Lucida { font-family: 'Lucida Console' }
p.tableWarning {
	color: #b22222;
	background-color: #ffe4e1;
}
p.tableWarningLevel1 {
	margin-left: 40px;
	color: #b22222;
	background-color: #ffe4e1;
}
p.tableWarningLevel2 {
	margin-left: 60px;
	color: #b22222;
	background-color: #ffe4e1;
}
p.BulletLevel1ContinuationWarning {
	margin-left: 40px;
	color: #b22222;
}
p.BulletLevel2ContinuationWarning {
	margin-left: 60px;
	color: #b22222;
}
p.tableNoteLevel3 {
	color: #616e14;
	margin-left: 80px;
}
li.BulletLevel1Warning { color: #b22222 }
li.BulletLevel2Warning {
	margin-left: 20px;
	color: #b22222;
}
li.BulletLevel2Note {
	color: #616e14;
	margin-left: 20px;
}
p.tipLevel1 {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #f0e68c;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f0e68c;
	border-right-color: #f0e68c;
	border-top-color: #f0e68c;
	background-color: #fff8dc;
	color: #b8860b;
}
li.BulletLevel3Note {
	margin-left: 40px;
	color: #616e14;
}
MadCap|dropDownHead.dropdownHeadInfo { color: #808080 }
p.tableExample {
	background-color: #dee8f0;
	color: #546c7f;
}
p.tableExampleLevel1 {
	background-color: #dee8f0;
	color: #546c7f;
	margin-left: 40px;
}
p.tableExampleLevel2 {
	background-color: #dee8f0;
	color: #546c7f;
	margin-left: 60px;
}
p.StepLevel1Continuation { margin-left: 20px }
MadCap|dropDownHead.Level1 { margin-left: 20px }
p.tipStepLevel1 {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #f0e68c;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f0e68c;
	border-right-color: #f0e68c;
	border-top-color: #f0e68c;
	background-color: #fff8dc;
	margin-left: 20px;
	color: #b8860b;
}
p.noteStepLevel1 {
	color: #616E14;
	border: solid 1px #BFD62F;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	background-color: #eaf5d8;
	margin-left: 20px;
}
li.SpaceAfter10px { margin-bottom: 10px }
p.tableTip {
	background-color: #fff8dc;
	color: #b8860b;
}
p.tableTipLevel1 {
	background-color: #fff8dc;
	margin-left: 20px;
	color: #b8860b;
}
MadCap|dropDownHead.Level2 { margin-left: 40px }
p.NoSpaceAfter { margin-bottom: 0 }
p.NoSpaceBefore { margin-top: 0 }
p.NoSpaceBeforeOrAfter {
	margin-bottom: 0;
	margin-top: 0;
}
p.Code {
	font-family: monospace;
	background-color: #d3d3d3;
}
p.NoSpaceAfter_Code {
	margin-bottom: 0;
	font-family: monospace;
}
p.NoSpaceBefore_Code {
	margin-top: 0;
	font-family: monospace;
}
p.NoSpaceBeforeOrAfter_Code {
	margin-bottom: 0;
	margin-top: 0;
	font-family: monospace;
}
span.HighlightYellow { background-color: #ffff00 }
p.caution {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #b22222;
	border-bottom-color: #b22222;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #b22222;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-color: #b22222;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-color: #b22222;
	border-left-width: 1px;
	border-left-style: solid;
	padding-bottom: 14px;
	padding-top: 14px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #ffe4e1;
}
p.tableNoteLevel1NoSpaceAfter {
	color: #616e14;
	margin-left: 40px;
	margin-bottom: 0em;
}
p.tableNoteLevel1NoSpaceBefore {
	color: #616e14;
	margin-left: 40px;
	margin-bottom: 0em;
	margin-top: 0em;
}
p.BulletLevel1ContinuationNoSpaceAfter {
	margin-left: 40px;
	margin-bottom: 0em;
}
p.BulletLevel1ContinuationNoSpaceBefore {
	margin-left: 40px;
	margin-top: 0em;
}
p.BulletLevel1ContinuationNoSpaceBeforeAndAfter {
	margin-left: 40px;
	margin-bottom: 0em;
	margin-top: 0em;
}
li.BulletLevel1NoteSpaceAfter {
	color: #616e14;
	margin-bottom: 1.12em;
}
p.info {
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	-webkit-border-radius: 0;
	border: solid 1px #808080;
	color: #808080;
	background-color: #ebebeb;
	padding-bottom: 5px;
	padding-top: 5px;
}
li.BulletLevel1Tip { color: #b8860b }
b.BoldStrikethroughDraft {
	text-decoration: line-through;
	color: #ff00ff;
}
span.SpanStrikethroughDraft {
	text-decoration: line-through;
	color: #ff00ff;
}
b.BoldDraft { color: #ff00ff }
b.StepDraft {
	color: #ff00ff;
	font-weight: bold;
	font-style: normal;
}
span.SpanDraft {
	color: #ff00ff;
	text-decoration: none;
}
span.Red { color: #ff0000 }
span.Blue { color: #0000ff }
li.BulletLevel1Example { color: #546c7f }
li.BulletLevel2Example {
	margin-left: 20px;
	color: #546c7f;
}
MadCap|dropDownHead.Level2Note {
	margin-left: 40px;
	color: #616e14;
}
MadCap|dropDownHead.Level1Note {
	margin-left: 20px;
	color: #616e14;
}
p.ImageCaptionNoSpaceBefore {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}
p.ImageCaptionNoSpaceAfter {
	margin-top: 1.12em;
	margin-bottom: 0em;
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}
p.ImageCaptionNoSpaceBeforeOrAfter {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}
p.ImageCaptionLevel1 {
	font-size: 90%;
	margin-left: 40px;
	font-weight: normal;
	font-style: italic;
}
p.ImageCaptionLevel1Green {
	font-size: 90%;
	margin-left: 40px;
	color: #616e14;
	font-weight: normal;
	font-style: italic;
}
MadCap|relationshipsHeading {
	margin-bottom: 0px;
	margin-top: 20px;
}
MadCap|relationshipsItem {
	margin-bottom: 0px;
	margin-top: 0px;
}
p {
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}
p.tableInfoNoSpaceAfter {
	margin-bottom: 0em;
	margin-left: 0px;
	color: #808080;
}
p.tableInfoNoSpaceBefore {
	margin-left: 0px;
	color: #808080;
	margin-top: 0em;
	margin-bottom: 1.12em;
}
p.tableInfoNoSpaceBeforeOrAfter {
	margin-left: 0px;
	color: #808080;
	margin-top: 0em;
	margin-bottom: 0em;
}
h1 {
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}
h2 { color: #000000 }
h3 { color: #000000 }
h4 { color: #000000 }
h5 { color: #000000 }
h6 { color: #000000 }
li.BulletLevel2SpaceAfter10px {
	margin-left: 20px;
	margin-bottom: 10px;
}
p.tableExampleNoSpaceBeforeOrAfter {
	background-color: #dee8f0;
	color: #546c7f;
	margin-top: 0em;
	margin-bottom: 0em;
}
p.CodeLevel1 {
	font-family: monospace;
	margin-left: 40px;
	background-color: #d3d3d3;
}
p.BulletLevel3ContinuationNoSpaceAfter {
	margin-left: 80px;
	margin-bottom: 0em;
}
p.BulletLevel3ContinuationNoSpaceBefore {
	margin-left: 80px;
	margin-bottom: 1.12em;
	margin-top: 0px;
}
p.BulletLevel3ContinuationNoSpaceBeforeOrAfter {
	margin-left: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.BulletLevel2ContinuationNoSpaceBefore {
	margin-left: 60px;
	margin-top: 0px;
}
p.BulletLevel2ContinuationNoSpaceAfter {
	margin-left: 60px;
	margin-bottom: 0px;
}
p.BulletLevel2ContinuationNoSpaceBeforeOrAfter {
	margin-left: 60px;
	margin-top: 0px;
	margin-bottom: 0em;
}
p.ImageCaptionExample {
	font-size: 90%;
	color: #546c7f;
	font-weight: normal;
	font-style: italic;
}
p.tableNoteLevel1NoSpaceBeforeOrAfter {
	color: #616e14;
	margin-left: 40px;
	margin-top: 0em;
	margin-bottom: 0em;
}
span.HighlightYellowCode {
	background-color: #ffff00;
	font-family: monospace;
}
p.tableInfo {
	margin-left: 0px;
	color: #808080;
	margin-bottom: 1.12em;
}
p.ImageCaptionTip {
	font-size: 90%;
	color: #b8860b;
	font-weight: normal;
	font-style: italic;
}
MadCap|dropDownHead.dropdownHeadNote { color: #616e14 }
p.infoLevel1 {
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	-webkit-border-radius: 0;
	border: solid 1px #808080;
	color: #808080;
	background-color: #ebebeb;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 40px;
}
p.infoLevel2 {
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	-webkit-border-radius: 0;
	border: solid 1px #808080;
	color: #808080;
	background-color: #ebebeb;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 60px;
}
p.ImageCaptionExampleLevel1 {
	font-size: 90%;
	color: #546c7f;
	margin-left: 40px;
	font-weight: normal;
	font-style: italic;
}
p.ImageCaptionExampleLevel2 {
	font-size: 90%;
	color: #546c7f;
	margin-left: 60px;
	font-weight: normal;
	font-style: italic;
}
MadCap|dropDownHead.dropdownHeadTip { color: #b8860b }
p.magenta { color: #ff00ff }
p.magentaStrikeThrough {
	color: #ff00ff;
	text-decoration: line-through;
}
li.magentaLevel1 { color: #ff00ff }
li.magentaLevel2 {
	color: #ff00ff;
	margin-left: 20px;
}
li.BulletLevel1Info { color: #808080 }
li.BulletLevel2Info {
	margin-left: 20px;
	color: #808080;
}
li.BulletLevel3Info {
	margin-left: 40px;
	color: #808080;
}
@media non-print {
	p.Code {
		background-color: #d3d3d3;
		color: #ff0000;
	}
	p.CodeLevel1 { background-color: #d3d3d3 }
}